
#caly_div
    {
        margin-left: auto;
        margin-right: auto;
        width: 1024px;
        /* font-family: Verdana, sans-serif; */
        font-family: Courier New, monospace;
        font-size: 20px;
    }
div
{

}

#belka_gora
{
    background-color: rgb(142, 239, 252);
    height: 45px;
    
}
#body_div
{
    min-height: 400px;
}
#belka_dol
{
    background-color: rgb(142, 239, 252);
    height: 45px;
}
.pole_belka_gora,.pole_belka_dol
{
    margin-top: 10px;
    
    text-align: center;
    width: 16%;
    height: 80%;
    margin: 4px;
    float: left;
    /* transform: translate(0, -50%); */
}
.pole_belka_gora:hover,.pole_belka_dol:hover
{
    /* margin-top: -10px; */
    border-style: none none solid none;
    border-width: 4px;
    border-color: rgb(100, 100, 100);
    /* background-color: ; */
}
#div_wyszukaj
{
    width: 40%;
    height: 60px;
}
table, #div_wyszukaj
{
    margin-left: auto;
    margin-right: auto;
}

table,td
{
    border-collapse: collapse;
    border: 1px solid rgb(160, 160, 160);
    /* border: 3px solid black; */
    /* border: 3px;
    border-color: dimgray; */
}
thead
{
    font-size: 16px;
}
tr
{
    height: 35px;
}
/* tr.member_user_row:hover {
    background-color: #ffff99;
} */
.td_mniejsze
{
    font-size: 16px;
}
a
{
    color: black;
    font-family: Verdana, sans-serif;
    text-decoration: none
}
h3,table
{
    text-align: center;
}
.plus_sign
{
    color: green;
}
.minus_sign
{
    color: red;
}
#podsumowanie_div
{
    width: 35%;
}
#current_account_div
{
    /* border: none; */
    text-align: right;
}
