<form method="post" action="{{ path('member_user_delete', {'id': member_user.id}) }}" onsubmit="return confirm('Czy napewno usunąć użytkownika?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ member_user.id) }}">
    {# <button class="pole_belka_dol" >usuń użytkownika</button> #}
    <input type="submit" id="submit-delete" class="hidden" />
</form>
