{{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" id="submit-form" class="hidden" />
    {# <button class="btn">{{ button_label|default('Zatwierdź') }}</button> #}
{{ form_end(form) }}
