{% extends 'base.html.twig' %}

{% block title %}Lista członków{% endblock %}

{% block body %}
    <h3>Lista członków</h3>
    {{ include('member_user/indexAjax.html.twig') }}
    

    <a href="{{ path('member_user_new') }}">Utwórz nowy</a>
    <a href="{{ path('member_users_zpliku') }}">Deserialize</a>

{% endblock %}
