{% extends 'base.html.twig' %}

{% block title %}Lista członków{% endblock %}

{% block scripts %}
            <script type="text/javascript" src="../../js/jquery-2.1.3.min.js"></script>
            <script type="text/javascript" src="../../js/jquery-ui.js"></script>
            <script type="text/javascript" src="../../js/findMemberUser.js"></script>
{% endblock %}

{% block body %}
    <h3>Lista członków</h3>
    <br>wyszukaj
    <input id="input-find-user" type="tekst" value="nazwisko lub imię" size="30">
    {{ include('member_user/indexAjax.html.twig') }}
    

    <a href="{{ path('member_user_new') }}">Utwórz nowy</a>
    {# <a href="{{ path('member_users_zpliku') }}">Deserialize</a> #}

{% endblock %}
