{% extends 'base.html.twig' %}

{% block title %}Lista członków{% endblock %}

{% block scripts %}
            <script type="text/javascript" src="../../js/jquery-2.1.3.min.js"></script>
            <script type="text/javascript" src="../../js/jquery-ui.js"></script>
            <script type="text/javascript" src="../../js/findMemberUser.js"></script>
{% endblock %}

{% block body %}
    <h3>Lista członków</h3>
    <div id="div_wyszukaj">
        wyszukaj
        <input id="input-find-user" type="tekst" placeholder="nazwisko lub imię" size="30">
    </div>
    {{ include('member_user/indexAjax.html.twig') }}
    


{% endblock %}
{% block belka_dol %}
    <div class="pole_belka_dol">
        <a href="{{ path('member_user_new') }}">Dodaj nową osobę</a>
    </div>

    {# <a href="{{ path('member_users_zpliku') }}">Deserialize</a> #}
{% endblock %}