{% extends 'base.html.twig' %}

{% block title %}Nowy członek{% endblock %}

{% block body %}
    <h3>Nowy członek</h3>

    {{ include('member_user/_form.html.twig') }}

{% endblock %}
{% block belka_dol %}   
    <a href="{{ path('member_user_index') }}">powrót do listy</a>
{% endblock %}